
@*cuerpo*@
<div style="background-color:#A7CACB; width:100%; height:97%; display:flex; justify-content:center;align-items:center">
    <div style="width:98%; height:95%; border-radius:4px ;background-color:rgba(aqua,0.2); border-width: thin; border-style:solid">
        <h6 style="width:100%; display:flex; justify-content:center; align-items:center; font-size:20px ">GUIA PARA TRANSPORTAR PRODUCTOS DERIVADOS DEL PETROLEO</h6>
        <h6 style="width:100%; display:flex; justify-content:center; align-items:center; font-size:17px">ECOPETROL S.A</h6>

        @*Codigo fila *@
        <div class="flex-component" style="width:100%;height:5%; margin-bottom:7px;background-color:transparent ">
            <div style="width:99%;height:100%; border-radius:7px ;  background-color:transparent ">
                <div class="flex-component" style="width:100%;height:100%; background-color:transparent ">
                    <div style="width:70%;height:100%">
                    </div>
                    <div class="flex-component" style="width:30%;height:100%">
                        <h5>N°</h5>
                        <h5 style="margin-left:8px"></h5>
                        <h5 style="color:indianred; margin-left:7px">@Formato.NumGuia</h5>


                    </div>
                </div>
            </div>
        </div>
        @*primera fila *@
        <div class="flex-component" style="width:100%;height:6%; margin-bottom:10px; background-color:#A7CACB ">
            <div class="flex-component"
                 style="width:99%;height:100%; border-radius:7px; border-width: thin; border-style:solid;  background-color:#A7CACB ">
                <div style="width:40%;height:100%; border-right:2px solid  ">
                    <p style="position:relative; top:0px;left:4px;font-size:8px; letter-spacing:1px; height:30%; margin-bottom:0px">
                        LUGAR Y FECHA DE EXPEDICION
                    </p>
                    <p style="position:relative;top:5px; font-size:12px; height:70%;text-align:center;margin-top: 0px; font-family:'Courier New', monospace;">
                        APIAI, @DateTime.Now
                    </p>
                </div>
                <div style="width:30%;height:100%; border-right:2px solid  ">
                    <p style="position:relative; top:0px;left:4px;font-size:8px; letter-spacing:1px; height:30%; margin-bottom:0px">
                        PLANTA O CAMPO PRODUCTOR
                    </p>
                    <p style="position:relative;top:5px; font-size:12px; height:70%;text-align:center;margin-top: 0px;  font-family:'Courier New', monospace;">
                        ECP-REFINERIA APIAI
                    </p>
                </div>
                <div style="width:30%;height:100%; ">
                    <p style="position:relative; top:0px;left:4px;font-size:8px; letter-spacing:1px; height:30%; margin-bottom:0px">
                        FACTURA O REMISION N°
                    </p>

                    <p style="
                                                 position:relative;
                                                 top:5px; font-size:18px;
                                                 height:70%;text-align:right;
                                                 margin-top: 0px;
                                                 margin-right:10px;
                                                 font-family:'Courier New', monospace;
                                                 ">CJ36534</p>

                </div>
            </div>
        </div>
        @* segunda division *@
        <div class="flex-component" style="width:100%;height:12%; margin-bottom:10px;background-color:transparent ">
            <div style="width:99%;height:100%; border-radius:7px; border-width: thin; border-style:solid; ">
                <div class="flex-component" style="width:100%;height:50%; border-bottom: 1px solid; background-color:transparent ">
                    <div style="width:75%;height:100%; border-right:2px solid ;">
                        <p style="position:relative; top:0px;left:4px;font-size:8px; letter-spacing:1px; height:30%; margin-bottom:0px">
                            DESPACHADO A:
                        </p>
                        <p style="position:relative;top:5px; font-size:14px; height:70%;text-align:center;margin-top: 0px; font-family:'Courier New', monospace;">
                            POZO NUEVA ESPERANZA
                        </p>
                    </div>
                    <div style="width:25%;height:100%; ">
                        <p style="position:relative; top:0px;left:4px;font-size:8px; letter-spacing:1px; height:30%; margin-bottom:0px">
                            CODIGO SICOM
                        </p>
                        <p style="position:relative;top:5px; font-size:12px; height:70%;text-align:center;margin-top: 0px; font-family:'Courier New', monospace;">
                            N/A
                        </p>
                    </div>
                </div>
                <div class="flex-component" style="width:100%;height:50%; border-width: thin; background-color:transparent ">
                    <div style="width:75%;height:100%; border-right: 2px solid  ">
                        <p style="position:relative; top:0px;left:4px;font-size:8px; letter-spacing:1px; height:30%; margin-bottom:0px">
                            DIRECCION
                        </p>
                        <p style="position:relative;top:5px; font-size:12px; height:70%;text-align:center;margin-top: 0px; font-family:'Courier New', monospace;">
                            GUAMAL-META
                        </p>
                    </div>
                    <div style="width:25%;height:100% ">
                        <p style="position:relative; top:0px;left:4px;font-size:8px; letter-spacing:1px; height:30%; margin-bottom:0px">
                            CIUDAD
                        </p>
                        <p style="position:relative;top:5px; font-size:12px; height:70%;text-align:center;margin-top: 0px; font-family:'Courier New', monospace;">
                            GUAMAL-META
                        </p>
                    </div>
                </div>
            </div>
        </div>
        @* tercera division *@
        <div class="flex-component" style="width:100%;height:12%; margin-bottom:10px;background-color:transparent ">
            <div style="width:99%;height:100%; border-radius:7px; border-width: thin; border-style:solid; ">
                <div class="flex-component" style="width:100%;height:50%; border-bottom: 1px solid; background-color:transparent ">
                    <div style="width:75%;height:100%; border-right:2px solid ;">
                        <p style="position:relative; top:0px;left:4px;font-size:8px; letter-spacing:1px; height:30%; margin-bottom:0px">
                            NOMBRE DEL CONDUCTOR
                        </p>
                        <p style="position:relative;top:5px; font-size:12px; height:70%;text-align:center;margin-top: 0px; font-family:'Courier New', monospace;">
                            Formato.OfertaDiaria.Conductor.Nombre
                        </p>

                    </div>
                    <div style="width:25%;height:100%; ">
                        <p style="position:relative; top:0px;left:4px;font-size:8px; letter-spacing:1px; height:30%; margin-bottom:0px">
                            CEDULA
                        </p>

                        <p style="position:relative;top:5px; font-size:12px; height:70%;text-align:center;margin-top: 0px; font-family:'Courier New', monospace;">
                            Formato.OfertaDiaria.Conductor.Cedula
                        </p>


                    </div>
                </div>
                <div class="flex-component" style="width:100%;height:50%; border-width: thin; background-color:transparent ">
                    <div style="width:50%;height:100%; border-right: 2px solid  ">
                        <p style="position:relative; top:0px;left:4px;font-size:8px; letter-spacing:1px; height:30%; margin-bottom:0px">
                            EMPRESA TRANSPORTADORA
                        </p>

                        <p style="position:relative;top:5px; font-size:12px; height:70%;text-align:center;margin-top: 0px; font-family:'Courier New', monospace;">
                            Formato.OfertaDiaria.Empresa.Descripcion
                        </p>


                    </div>
                    <div style="width:25%;height:100%;border-right: 2px solid ">
                        <p style="position:relative; top:0px;left:4px;font-size:8px; letter-spacing:1px; height:30%; margin-bottom:0px">
                            PLACAS DEL CABEZOTE
                        </p>

                        <p style="position:relative;top:5px; font-size:12px; height:70%;text-align:center;margin-top: 0px; font-family:'Courier New', monospace;">
                            Formato.OfertaDiaria.PlacaTanque
                        </p>

                    </div>
                    <div style="width:25%;height:100% ">
                        <p style="position:relative; top:0px;left:4px;font-size:8px; letter-spacing:1px; height:30%; margin-bottom:0px">
                            PLACAS DEL TANQUE
                        </p>

                        <p style="position:relative;top:5px; font-size:12px; height:70%;text-align:center;margin-top: 0px; font-family:'Courier New', monospace;">
                            Formato.OfertaDiaria.Placa
                        </p>

                    </div>
                </div>
            </div>
        </div>
        @* cuarta division *@
        <div class="flex-component" style="width:100%;height:12%; margin-bottom:10px;background-color:transparent ">
            <div style="width:99%;height:100%; border-radius:7px; border-width: thin; border-style:solid; ">
                <div class="flex-component" style="width:100%;height:50%; border-bottom: 1px solid; background-color:transparent ">
                    <div style="width:45%;height:100%; border-right:2px solid;">
                        <p style="position:relative; top:0px;left:4px;font-size:8px; letter-spacing:1px; height:30%; margin-bottom:0px">
                            LUGAR DE ORIGEN
                        </p>
                        <p style="position:relative;top:5px; font-size:12px; height:70%;text-align:center;margin-top: 0px; font-family:'Courier New', monospace;">
                            Formato.OfertaDiaria.Ruta.Origen
                        </p>
                    </div>
                    <div style="width:40%;height:100%; border-right:2px solid; border-top:2px solid  ">
                        <p style="position:relative; top:0px;left:4px;font-size:8px; letter-spacing:1px; height:30%; margin-bottom:0px">
                            FECHA Y HORA DE SALIDA
                        </p>
                        <p style="position:relative;top:5px; font-size:12px; height:70%;text-align:center;margin-top: 0px; font-family:'Courier New', monospace;">
                            @DateTime.Now.ToString("dd/mm/yyyy")
                        </p>
                    </div>
                    <div style="width:15%;height:100%; border-top: 2px solid; border-right:2px solid  ">
                        <p style="position:relative;top:5px; font-size:12px; height:70%;text-align:center;margin-top: 0px; font-family:'Courier New', monospace;">
                            Formato.FechaInicioTransito.ToString("HH:mm")
                        </p>
                    </div>
                </div>
                <div class="flex-component" style="width:100%;height:50%; border-width: thin; background-color:transparent ">
                    <div style="width:45%;height:100%; border-right: 2px solid  ">
                        <p style="position:relative; top:0px;left:4px;font-size:8px; letter-spacing:1px; height:30%; margin-bottom:0px">
                            LUGAR DE DESTINO
                        </p>
                        <p style="position:relative;top:5px; font-size:12px; height:70%;text-align:center;margin-top: 0px; font-family:'Courier New', monospace;">
                            Formato.OfertaDiaria.Ruta.Destino
                        </p>
                    </div>
                    <div style="width:55%;height:100%; border-bottom: 2px solid; border-right:2px solid;  ">
                        <p style="position:relative; top:0px;left:4px;font-size:8px; letter-spacing:1px; height:30%; margin-bottom:0px">
                            HORAS DE VIGENCIA
                        </p>
                        <p style="position:relative;top:5px; font-size:12px; height:70%;text-align:center;margin-top: 0px; font-family:'Courier New', monospace;">
                            Formato.OfertaDiaria.Ruta.VigenciaHoras HORAS
                        </p>
                    </div>
                </div>
            </div>
        </div>
        @* quinta division *@
        <div class="flex-component" style="width:100%;height:20%; margin-bottom:10px;background-color:transparent ">
            <div style="width:99%;height:100%; border-radius:7px; border-width: thin; border-style:solid; ">
                <div class="flex-component" style="width:100%;height:17%; border-bottom: 1px solid; background-color:transparent ">
                    <div style="width:65%;height:100%; border-right:2px solid;">
                        <p style="position:relative;top:5px; font-size:10px; height:70%;text-align:center;margin-top: 0px; font-family:'Courier New', monospace;">
                            DESCRIPCION DEL PRODUCTO
                        </p>
                    </div>
                    <div style="width:35%;height:100%;">
                        <p style="position:relative;top:5px; font-size:10px; height:70%;text-align:center;margin-top: 0px; font-family:'Courier New', monospace;">
                            VOLUMEN EN BARRILES
                        </p>
                    </div>

                </div>
                <div class="flex-component" style="width:100%;height:83%; border-width: thin; background-color:transparent ">
                    <div style="position:relative;top:5px; font-size:10px; height:70%;text-align:center;margin-top: 0px; font-family:'Courier New', monospace;  ">
                        @Formato.EcopetrolMaterial
                    </div>
                    <div style="width:35%;height:100%; ">
                        <p style="position:relative;top:5px; font-size:10px; height:70%;text-align:end;margin-top: 0px; font-family:'Courier New', monospace;">
                            @Formato.GovCarga Bls
                        </p>
                    </div>
                </div>
            </div>
        </div>
        @* sexta division *@
        <div class="flex-component" style="width:100%;height:7.3%; margin-bottom:10px;background-color:transparent ">
            <div style="width:99%;height:100%; border-radius:7px; border-width: thin; border-style:solid; ">
                <div class="flex-component" style="width:100%;height:100%; background-color:transparent ">
                    <div style="width:75%;height:100%; border-right: solid">
                        <p style="position:relative; top:0px;left:4px;font-size:8px; letter-spacing:1px; height:30%; margin-bottom:0px">
                            OBSERVACIONES
                        </p>
                        <p style="position:relative;top:5px; font-size:12px; height:100%;text-align:center;margin-top: 0px; font-family:'Courier New', monospace;">
                            @Formato.Sellos
                        </p>
                    </div>
                    <div style="width:25%;height:100%">
                        <p style="position:relative; top:0px;left:4px;font-size:7px; letter-spacing:1px; height:30%; margin-bottom:0px">
                            ZONA DE FRONTERA
                        </p>
                        <p style="position:relative;top:5px; font-size:10px; height:100%;text-align:center;margin-top: 0px; font-family:'Courier New', monospace;">
                        </p>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<style>
    .Guia-view {
        width: 100%;
        height: 90%;
    }

    .guia-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .flex-component {
        display: flex;
        justify-content: center;
        align-items: center;
    }
</style>
<style>

    body {
        font-family: Arial;
    }

    input {
        border-radius: 5px;
        background-color: #f7fafc;
        width: 90%;
        height: 40px;
        border: 0.5px dashed blue;
    }
    /* estilos de la tabla */

    .table-container-scroll {
        overflow: scroll;
        height: 450px;
        width: auto;
        margin-top: 20px;
        margin-bottom: 10px;
        border-radius: 5px;
    }

    table {
        background-color: white;
        text-align: left;
        border-collapse: collapse;
        table-layout: fixed;
        width: 100%;
    }

    /* th {
            position: relative;
        }*/

    th, td {
        padding: 10px;
        margin-left: 40px;
    }

    thead {
        background-color: #388e3c;
        border-bottom: solid 3px #0F362D;
        color: #eeeeee;
        position: sticky;
        top: 0px;
    }

    tr:nth-child(even) {
        background-color: #ddd;
    }

    tr:hover td {
        background-color: rgba(100, 176, 161, 0.8);
        /*background-color: #369681;*/
        color: #eeeeee;
    }

    #btn-nuevo-FormatoDeCarga {
        margin-top: 10px;
        margin-left: 10px;
    }

    .Guia-view {
        width: 100%;
        height: 90%;
    }

    .guia-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .flex-component {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    /* estilos formulario agregar FormatoDeCarga*/
    .create-FormatoDeCarga-container {
        position: absolute;
        top: 55px;
        left: 250px;
        padding: 12px;
        width: 1110px;
        height: 570px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: rgba(0, 0, 0, 0.45);
    }

    .add-FormatoDeCarga-card {
        width: 280px;
        height: 400px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: rgba(223, 230, 233,1.0);
        border-radius: 8px;
        color: rgba(0, 0, 0,1.0);
        box-shadow: 0 4px 8px rgba(0,0,0,0.45);
    }

        .add-FormatoDeCarga-card label {
            margin-bottom: 5px;
            margin-top: 6px;
        }

    .button-group {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    #db-spinner {
        position: absolute;
        top: 55px;
        left: 250px;
        padding: 12px;
        width: 1110px;
        height: 570px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
</style>
@code {
    [Parameter]
    public FormatoCarga Formato { get; set; }
}